exclude: ^LICENSE/|\.(html|csv|svg|md)$
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
        files: ^trane/
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        name: Add trailing comma
  - repo: https://github.com/python/black
    rev: 23.9.1
    hooks:
      - id: black
        additional_dependencies: [".[jupyter]"]
        types_or: [python, jupyter]
        args:
          - --config=./pyproject.toml
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.291
    hooks:
      - id: ruff
        args:
          - --fix
          - --config=./pyproject.toml
