composeml==0.9.1
contourpy==1.0.6
debugpy==1.6.4
dill==0.3.6
featuretools==1.19.0
ipykernel==6.19.4
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.1
jupyter_server==2.0.6
jupyter_server_terminals==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
markdown-it-py==2.1.0
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mypy-extensions==0.4.3
numpy==1.24.1
pandas==1.5.2
py==1.11.0
pycparser==2.21
pydata-sphinx-theme==0.12.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.4
pytz==2022.7
pyzmq==24.0.1
scikit-learn==1.2.0
scikit-plot==0.3.7
scipy==1.9.3
sphinx-copybutton==0.5.1
tornado==6.2
tqdm==4.64.1
