composeml==0.10.1
contourpy==1.0.7
dill==0.3.6
featuretools==1.24.0
ipython==8.12.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
mypy-extensions==1.0.0
numpy==1.24.2
pandas==2.0.0
pyparsing==3.0.9
pytest==7.3.0
pytest-cov==4.0.0
pytest-runner==6.0.0
pytest-xdist==3.2.1
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.2.2
scipy==1.10.1
tornado==6.2
tqdm==4.65.0
