composeml==0.9.1
contourpy==1.0.6
dill==0.3.6
featuretools==1.20.0
matplotlib==3.6.2
numpy==1.24.1
pandas==1.5.2
py==1.11.0
pyparsing==3.0.9
pytest==7.2.0
pytest-cov==4.0.0
pytest-runner==6.0.0
pytest-xdist==3.1.0
python-dateutil==2.8.2
pytz==2022.7
scikit-learn==1.2.0
scikit-plot==0.3.7
scipy==1.10.0
tornado==6.2
tqdm==4.64.1
